<h1>Productos en el Carrito</h1>
<ul>
    {{#each cart.products}}
        <li>
            <h3>{{this.product.name}}</h3>
            <p>Precio: ${{this.product.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <button onclick="removeFromCart('{{this.product._id}}')">Eliminar del carrito</button>
        </li>
    {{/each}}
</ul>
